# Gradle
.gradle/
build/
*/build/
gradle-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.cache/

# Local
local.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build outputs
*.apk
*.aab
*.dex
*.class

# Generated
/captures/
secrets.properties
# Generated
.externalNativeBuild/
# Android Profiling
*.hprof
